<html ng-app='Shortly'>
<head>
  <title>Shortly</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-route.js"></script>
  <script src="client/app.js"></script>

  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <div ng-view=''>
  
</body>
</html>